*{
    margin: 0px;
    padding: 0px;
}
.m_header{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.m_header h1{
    text-align: center;
}
.m_header ul{
    display: flex;
}
.m_header li{
    margin-left: 43px;
    list-style: none;
    font-size: 20px;
    text-align: center;
}
.logo_color{
color: orangered;
}
.btn_primary{
font-size: 20px;
border: none;
background-color: #FD6E0A;
color: whitesmoke;
padding: 10px;
border-radius: 5px;
font-weight: 700px;
}

li a {
    text-decoration: none;
}
.logo_color{
    color: #FD6E0A;

}